In [131]:
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

In [132]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import random
get_ipython().magic('matplotlib inline')
from sklearn.tree import export_graphviz

def data_clean(path):
 #path='C:\\Users\\WINGS\\Downloads\\train_u6lujuX_CVtuZ9i.csv'
 df=pd.read_csv(path)
 X=df.iloc[:,1:12]
 y=df.iloc[:,12:13]
 #null_columns=X.columns[X.isnull().any()]
 #X[null_columns].isnull().sum()
 l1 = ["Male", "Female"]
 #X['Gender']=X['Gender'].fillna(value=l1[random.randint(0, 1)])
 X['Gender']=X['Gender'].fillna(value=l1[0])
 l2 = ["No", "Yes"]
 #X['Married']=X['Married'].fillna(value=l2[random.randint(0, 1)])
 X['Married']=X['Married'].fillna(value=l2[1])
 d=['0','1','2','3+']
 #X['Dependents']=X['Dependents'].fillna(value=d[random.randint(0, 3)])
 X['Dependents']=X['Dependents'].fillna(value=d[0])
 #X['Self_Employed']=X['Self_Employed'].fillna(value=l2[random.randint(0, 1)])
 X['Self_Employed']=X['Self_Employed'].fillna(value=l2[1])
 #X['LoanAmount']=X['LoanAmount'].fillna(value=random.randint(9,700))
 X['LoanAmount']=X['LoanAmount'].fillna(value=146)
 #X['Loan_Amount_Term']=X['Loan_Amount_Term'].fillna(value=random.randint(12,480))
 X['Loan_Amount_Term']=X['Loan_Amount_Term'].fillna(value=360)
 #X['Credit_History']=X['Credit_History'].fillna(value=random.randint(0,1))
 X['Credit_History']=X['Credit_History'].fillna(value=1)
 
 return X,y
 
def data_trans(X):
  x=X.values
  le_t=LabelEncoder()
  le_t.fit(['Yes','No'])
  x[:,1]=le_t.transform(x[:,1])
  x[:,4]=le_t.transform(x[:,4])
  X.head(3)
  le_Prop=LabelEncoder()
  le_Prop.fit(['Urban', 'Rural', 'Semiurban'])
  x[:,10]=le_Prop.transform(x[:,10])
  le_Edu=LabelEncoder()
  le_Edu.fit(['Graduate', 'Not Graduate'])
  x[:,3]=le_Edu.transform(x[:,3])
  Le_Gen=LabelEncoder()
  Le_Gen.fit(['Male', 'Female'])
  x[:,0]=Le_Gen.transform(x[:,0])
  Le_D=LabelEncoder()
  Le_D.fit(['0', '1', '2', '3+'])
  x[:,2]=Le_D.transform(x[:,2])
  
  return x

In [133]:
X,y=data_clean('C:\\Users\\WINGS\\Downloads\\train_u6lujuX_CVtuZ9i.csv')
x=data_trans(X)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [134]:
drugTree = DecisionTreeClassifier(criterion="entropy", max_depth = 3)

In [135]:
drugTree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [117]:
drugTree.score(X_test,y_test)

0.7931034482758621

In [118]:
features=X.columns

In [26]:
from IPython.display import Image
tree.export_graphviz(drugTree,feature_names=features,out_file='Loan.dot', class_names= np.unique(y_train))

In [136]:
model= RandomForestClassifier(n_estimators=499,random_state=1,criterion="entropy")

In [137]:
model.fit(X_train,np.ravel(y_train))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=499, n_jobs=1, oob_score=False, random_state=1,
            verbose=0, warm_start=False)

In [138]:
model.score(X_test,y_test)

0.80295566502463056

In [147]:
test_path='C:\\Users\\WINGS\\Downloads\\test_Y3wMUE5_7gLdaTN.csv'
X_stest,y_stest=data_clean(test_path)
x_stest=data_trans(X_stest)

In [153]:
y_pred=model.predict(x_stest)

In [155]:
model.score(x_stest,y_pred)

1.0

In [157]:
X_stest['Loan_Status']=y_pred

In [165]:
df_stest=pd.read_csv(test_path)
df_stest.head(4)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban

In [163]:
X_stest['Loan_ID']=df_stest['Loan_ID']

In [164]:
X_stest.head(4)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Loan_ID
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y,LP001015
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y,LP001022
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y,LP001031
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban,Y,LP001035

In [167]:
X_sub=X_stest[['Loan_ID','Loan_Status']]

In [170]:
X_sub.to_csv('Submission.csv')

In [174]:
from sklearn.ensemble import GradientBoostingClassifier

In [271]:
model_G= GradientBoostingClassifier(learning_rate=0.001,random_state=1,n_estimators=792,max_depth=4)

In [272]:
model_G.fit(X_train,np.ravel(y_train))

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.001, loss='deviance', max_depth=4,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=792, presort='auto', random_state=1,
              subsample=1.0, verbose=0, warm_start=False)

In [273]:
model_G.score(X_test,y_test)

0.76354679802955661

In [261]:
y_pred1=model_G.predict(x_stest)

In [224]:
X_stest.head(3)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Loan_ID
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Y,LP001015
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Y,LP001022
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Y,LP001031

In [262]:
X_stest['New_Loan_Status']=y_pred1

In [263]:
X_sub1=X_stest[['Loan_ID','New_Loan_Status']]

In [264]:
X_sub1.to_csv('Submission_02.csv')